page-cadastro-client {
    p {
        color: rgb(5, 103, 252) !important;
    }
    .toolbar-background{
        background-color : rgb(5, 103, 252);
    }
    .p {
        color: white !important;
    }
    .custom-icon {
        font-size: 30px;
        color :white;
        
      }
}
