page-novo-cliente {
    .toolbar-background{
        background-color : rgb(5, 103, 252);
    }
    
    ion-title {
        text-anchor : blue;
    }
    .p {
        color: antiquewhite !important;
    }
    
    
}
